.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

hr {
    height: 4px;
    margin-bottom: 10px;
}

.hr-warning {
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, .8), rgba(210, 105, 30, .6), rgba(0, 0, 0, 0));
}

.hr-success {
    background-image: -webkit-linear-gradient(left, rgba(15, 157, 88, .8), rgba(15, 157, 88, .6), rgba(0, 0, 0, 0));
}

.hr-primary {
    background-image: -webkit-linear-gradient(left, rgba(66, 133, 244, .8), rgba(66, 133, 244, .6), rgba(0, 0, 0, 0));
}

.hr-danger {
    background-image: -webkit-linear-gradient(left, rgba(244, 67, 54, .8), rgba(244, 67, 54, .6), rgba(0, 0, 0, 0));
}

.breadcrumb {
    background: rgba(245, 245, 245, 0);
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 25px;
    display: block;
}

.btn-bread {
    margin-top: 10px;
    font-size: 12px;

    border-radius: 3px;
}


h3.h3 {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 1.7em;
}


.media-grid {
    font-family: Raleway, sans-serif;
    text-align: center;
    padding: 0 0 72px;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-right: 15px;

}

.media-grid .media-image {
    position: relative;
    transition: all .3s ease 0s
}

.media-grid .media-image a {
    display: block
}

.media-grid .media-image img {
    width: 100%;
    height: auto
}

.media-grid .pic-1 {
    opacity: 1;
    transition: all .3s ease-out 0s
}

.media-grid:hover .pic-1 {
    opacity: 1
}

.media-grid .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-out 0s
}

.media-grid:hover .pic-2 {
    opacity: 1
}

.media-grid .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all .3s ease 0s
}

.media-grid:hover .social {
    opacity: 1;
    top: 50%
}

.media-grid .social li {
    display: inline-block
}

.media-grid .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 2px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out
}

.media-grid .social li a:hover {
    color: #fff;
    background-color: #ef5777
}

.media-grid .social li a:after,
.media-grid .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.media-grid .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1
}

.media-grid .social li a:hover:after,
.media-grid .social li a:hover:before {
    opacity: 1
}

.media-grid .media-discount-label,
.media-grid .media-new-label {
    color: #fff;
    background-color: #ef5777;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0
}

.media-grid .media-discount-label {
    background-color: #333;
    left: auto;
    right: 0
}

.media-grid .rating {
    color: #FFD200;
    font-size: 12px;
    padding: 12px 0 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: -1
}

.media-grid .rating li.disable {
    color: rgba(0, 0, 0, .2)
}

.media-grid .media-content {
    background-color: #fff;
    text-align: center;
    padding: 12px 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    z-index: 1;
    transition: all .3s
}

.media-grid:hover .media-content {
    bottom: 0
}

.media-grid .title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.media-grid .title a {
    color: #828282
}

.media-grid .title a:hover,
.media-grid:hover .title a {
    color: #ef5777
}

.media-grid .price {
    color: #333;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: .6px;
    margin-bottom: 8px;
    text-align: center;
    transition: all .3s
}

.media-grid .price span {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 3px;
    display: inline-block
}

.media-grid .add-to-cart {
    color: #000;
    font-size: 13px;
    font-weight: 600
}

@media only screen and (max-width:990px) {
    .media-grid {
        margin-bottom: 30px
    }
}


.demo {
    padding: 45px 0
}

.media-grid2 {
    font-family: 'Open Sans', sans-serif;
    position: relative
}

.media-grid2 .media-image2 {
    overflow: hidden;
    position: relative
}

.media-grid2 .media-image2 a {
    display: block
}

.media-grid2 .media-image2 img {
    width: 100%;
    height: auto
}

.media-image2 .pic-1 {
    opacity: 1;
    transition: all .5s
}

.media-grid2:hover .media-image2 .pic-1 {
    opacity: 0
}

.media-image2 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s
}

.media-grid2:hover .media-image2 .pic-2 {
    opacity: 1
}

.media-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1
}

.media-grid2 .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all .5s
}

.media-grid2:hover .social li {
    transform: translateX(0)
}

.media-grid2:hover .social li:nth-child(2) {
    transition-delay: .15s
}

.media-grid2:hover .social li:nth-child(3) {
    transition-delay: .25s
}

.media-grid2 .social li a {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all .3s ease 0s
}

.media-grid2 .social li a:hover {
    color: #fff;
    background-color: #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.media-grid2 .social li a:after,
.media-grid2 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 22px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.media-grid2 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.media-grid2 .social li a:hover:after,
.media-grid2 .social li a:hover:before {
    opacity: 1
}

.media-grid2 .add-to-cart {
    color: #fff;
    background-color: #404040;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: all .3s
}

.media-grid2 .add-to-cart:hover {
    background-color: #3498db;
    text-decoration: none
}

.media-grid2:hover .add-to-cart {
    bottom: 0
}

.media-grid2 .media-new-label {
    background-color: #3498db;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s
}

.media-grid2:hover .media-new-label {
    opacity: 0
}

.media-grid2 .media-content {
    padding: 20px 10px;
    text-align: center
}

.media-grid2 .title {
    font-size: 17px;
    margin: 0 0 7px
}

.media-grid2 .title a {
    color: #303030
}

.media-grid2 .title a:hover {
    color: #3498db
}

.media-grid2 .price {
    color: #303030;
    font-size: 15px
}

@media screen and (max-width:990px) {
    .media-grid2 {
        margin-bottom: 30px
    }
}


.media-grid3 {
    font-family: Roboto, sans-serif;
    text-align: center;
    position: relative;
    z-index: 1
}

.media-grid3:before {
    content: "";
    height: 81%;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease 0s
}

.media-grid3:hover:before {
    opacity: 1;
    height: 100%
}

.media-grid3 .media-image3 {
    position: relative
}

.media-grid3 .media-image3 a {
    display: block
}

.media-grid3 .media-image3 img {
    width: 100%;
    height: auto
}

.media-grid3 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.media-grid3:hover .pic-1 {
    opacity: 0
}

.media-grid3 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.media-grid3:hover .pic-2 {
    opacity: 1
}

.media-grid3 .social {
    width: 120px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -23px;
    transform: scale(0);
    transition: all .3s ease 0s
}

.media-grid3:hover .social {
    opacity: 1;
    transform: scale(1)
}

.media-grid3:hover .media-discount-label,
.media-grid3:hover .media-new-label,
.media-grid3:hover .title {
    opacity: 0
}

.media-grid3 .social li {
    display: inline-block
}

.media-grid3 .social li a {
    color: #e67e22;
    background: #fff;
    font-size: 18px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    margin: 0 2px;
    display: block;
    transition: all .3s ease 0s
}

.media-grid3 .social li a:hover {
    background: #e67e22;
    color: #fff
}

.media-grid3 .media-discount-label,
.media-grid3 .media-new-label {
    background-color: #e67e22;
    color: #fff;
    font-size: 17px;
    padding: 2px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all .3s
}

.media-grid3 .media-content {
    z-index: -1;
    padding: 15px;
    text-align: left
}

.media-grid3 .title {
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s
}

.media-grid3 .title a {
    color: #414141
}

.media-grid3 .price {
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-right: 2px;
    display: inline-block
}

.media-grid3 .price span {
    color: #909090;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    display: inline-block;
    margin-top: -2px
}

.media-grid3 .rating {
    padding: 0;
    margin: -22px 0 0;
    list-style: none;
    text-align: right;
    display: block
}

.media-grid3 .rating li {
    color: #ffd200;
    font-size: 13px;
    display: inline-block
}

.media-grid3 .rating li.disable {
    color: #dcdcdc
}

@media only screen and (max-width:1200px) {
    .media-grid3 .rating {
        margin: 0
    }
}

@media only screen and (max-width:990px) {
    .media-grid3 {
        margin-bottom: 30px
    }

    .media-grid3 .rating {
        margin: -22px 0 0
    }
}

@media only screen and (max-width:359px) {
    .media-grid3 .rating {
        margin: 0
    }
}


.media-grid4,
.media-grid4 .media-image4 {
    position: relative
}

.media-grid4 {
    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease 0s
}

.media-grid4:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
}

.media-grid4 .media-image4 a {
    display: block
}

.media-grid4 .media-image4 img {
    width: 100%;
    height: auto
}

.media-grid4 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.media-grid4:hover .pic-1 {
    opacity: 0
}

.media-grid4 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.media-grid4:hover .pic-2 {
    opacity: 1
}

.media-grid4 .social {
    width: 180px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease 0s
}

.media-grid4 .social li {
    display: inline-block;
    opacity: 0;
    transition: all .7s
}

.media-grid4 .social li:nth-child(1) {
    transition-delay: .15s
}

.media-grid4 .social li:nth-child(2) {
    transition-delay: .3s
}

.media-grid4 .social li:nth-child(3) {
    transition-delay: .45s
}

.media-grid4:hover .social li {
    opacity: 1
}

.media-grid4 .social li a {
    color: #222;
    background: #fff;
    font-size: 17px;
    line-height: 36px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    transition: all .3s ease 0s
}

.media-grid4 .social li a:hover {
    color: #fff;
    background: #16a085
}

.media-grid4 .social li a:after,
.media-grid4 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.media-grid4 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1
}

.media-grid4 .social li a:hover:after,
.media-grid4 .social li a:hover:before {
    opacity: 1
}

.media-grid4 .media-discount-label,
.media-grid4 .media-new-label {
    color: #fff;
    background-color: #16a085;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all .3s
}

.media-grid4 .media-discount-label {
    left: auto;
    right: 10px;
    background-color: #d7292a
}

.media-grid4:hover .media-new-label {
    opacity: 0
}

.media-grid4 .media-content {
    padding: 25px
}

.media-grid4 .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all .3s ease 0s
}

.media-grid4 .title a {
    color: #222
}

.media-grid4 .title a:hover {
    color: #16a085
}

.media-grid4 .price {
    color: #16a085;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}

.media-grid4 .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block
}

.media-grid4 .add-to-cart {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s
}

.media-grid4:hover .add-to-cart {
    border: 1px solid transparent;
    background: #16a085;
    color: #fff
}

.media-grid4 .add-to-cart:hover {
    background-color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

@media only screen and (max-width:990px) {
    .media-grid4 {
        margin-bottom: 30px
    }
}


.media-image5 .pic-1,
.media-image5 .pic-2 {
    backface-visibility: hidden;
    transition: all .5s ease 0s
}

.media-grid5 {
    font-family: Poppins, sans-serif;
    position: relative
}

.media-grid5 .media-image5 {
    overflow: hidden;
    position: relative
}

.media-grid5 .media-image5 a {
    display: block
}

.media-grid5 .media-image5 img {
    width: 100%;
    height: auto
}

.media-image5 .pic-1 {
    opacity: 1
}

.media-grid5:hover .media-image5 .pic-1 {
    opacity: 0
}

.media-image5 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

.media-grid5:hover .media-image5 .pic-2 {
    opacity: 1
}

.media-grid5 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px
}

.media-grid5 .social li {
    display: block;
    margin: 0 0 10px;
    transition: all .5s
}

.media-grid5 .social li:nth-child(2) {
    opacity: 0;
    transform: translateY(-50px)
}

.media-grid5:hover .social li:nth-child(2) {
    opacity: 1;
    transform: translateY(0)
}

.media-grid5 .social li:nth-child(3) {
    opacity: 0;
    transform: translateY(-50px)
}

.media-grid5:hover .social li:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .2s
}

.media-grid5 .social li a {
    color: #888;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: block;
    transition: .5s ease 0s
}

.media-grid5 .social li a:hover {
    color: #fff;
    background: #1e3799
}

.media-grid5 .select-options {
    color: #777;
    background-color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 5px;
    margin: 0 auto;
    opacity: 0;
    display: block;
    position: absolute;
    width: 92%;
    left: 0;
    bottom: -100px;
    right: 0;
    transition: .5s ease 0s
}

.media-grid5 .select-options:hover {
    color: #fff;
    background-color: #1e3799;
    text-decoration: none
}

.media-grid5:hover .select-options {
    opacity: 1;
    bottom: 10px
}

.media-grid5 .media-content {
    padding: 20px 10px
}

.media-grid5 .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.media-grid5 .title a {
    color: #222
}

.media-grid5 .title a:hover {
    color: #1e3799
}

.media-grid5 .price {
    color: #222;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px
}

@media only screen and (max-width:990px) {
    .media-grid5 {
        margin-bottom: 30px
    }
}


.media-grid6,
.media-grid6 .media-image6 {
    overflow: hidden
}

.media-grid6 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: relative;
    transition: all .5s ease 0s
}

.media-grid6:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}

.media-grid6 .media-image6 a {
    display: block
}

.media-grid6 .media-image6 img {
    width: 100%;
    height: auto;
    transition: all .5s ease 0s
}

.media-grid6:hover .media-image6 img {
    transform: scale(1.1)
}

.media-grid6 .media-content {
    padding: 12px 12px 15px;
    transition: all .5s ease 0s
}

.media-grid6:hover .media-content {
    opacity: 0
}

.media-grid6 .title {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.media-grid6 .title a {
    color: #000
}

.media-grid6 .title a:hover {
    color: #2e86de
}

.media-grid6 .price {
    font-size: 18px;
    font-weight: 600;
    color: #2e86de
}

.media-grid6 .price span {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 7px;
    display: inline-block
}

.media-grid6 .social {
    background-color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
    transition: all .5s ease 0s
}

.media-grid6:hover .social {
    opacity: 1;
    bottom: 20px
}

.media-grid6 .social li {
    display: inline-block
}

.media-grid6 .social li a {
    color: #909090;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    margin: 0 7px;
    border: 1px solid #909090;
    border-radius: 50px;
    display: block;
    position: relative;
    transition: all .3s ease-in-out
}

.media-grid6 .social li a:hover {
    color: #fff;
    background-color: #2e86de;
    width: 80px
}

.media-grid6 .social li a:after,
.media-grid6 .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #2e86de;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px
}

.media-grid6 .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1
}

.media-grid6 .social li a:hover:after,
.media-grid6 .social li a:hover:before {
    opacity: 1
}

@media only screen and (max-width:990px) {
    .media-grid6 {
        margin-bottom: 30px
    }
}


.media-grid7 {
    font-family: 'Roboto Slab', serif;
    position: relative;
    z-index: 1
}

.media-grid7 .media-image7 {
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    perspective: 1500px;
    position: relative;
    transition: all .3s ease 0s
}

.media-grid7 .media-image7 a {
    display: block
}

.media-grid7 .media-image7 img {
    width: 100%;
    height: auto
}

.media-grid7 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.media-grid7 .pic-2 {
    opacity: 0;
    transform: rotateY(-90deg);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-out 0s
}

.media-grid7:hover .pic-2 {
    opacity: 1;
    transform: rotateY(0)
}

.media-grid7 .social {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 3px;
    left: -20%;
    z-index: 1;
    transition: all .5s ease 0s
}

.media-grid7:hover .social {
    left: 17px
}

.media-grid7 .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 15px 0;
    border-radius: 50%;
    display: block;
    transition: all .5s ease-in-out
}

.media-grid7 .social li a:hover {
    color: #fff;
    background-color: #78e08f
}

.media-grid7 .media-new-label {
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px
}

.media-grid7 .media-content {
    text-align: center;
    padding: 20px 0 0
}

.media-grid7 .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.media-grid7 .title a {
    color: #333
}

.media-grid7 .title a:hover {
    color: #78e08f
}

.media-grid7 .rating {
    color: #78e08f;
    font-size: 12px;
    padding: 0;
    margin: 0 0 10px;
    list-style: none
}

.media-grid7 .price {
    color: #333;
    font-size: 20px;
    font-family: Lora, serif;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;
    transition: all .3s
}

.media-grid7 .price span {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
    margin-left: 7px;
    display: inline-block
}

@media only screen and (max-width:990px) {
    .media-grid7 {
        margin-bottom: 30px
    }
}


.media-grid8 {
    font-family: Poppins, sans-serif;
    position: relative;
    z-index: 1
}

.media-grid8 .media-image8 {
    border: 1px solid #e4e9ef;
    position: relative;
    transition: all .3s ease 0s
}

.media-grid8:hover .media-image8 {
    box-shadow: 0 0 10px rgba(0, 0, 0, .15)
}

.media-grid8 .media-image8 a {
    display: block
}

.media-grid8 .media-image8 img {
    width: 100%;
    height: auto
}

.media-grid8 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.media-grid8:hover .pic-1 {
    opacity: 0
}

.media-grid8 .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-out 0s
}

.media-grid8:hover .pic-2 {
    opacity: 1
}

.media-grid8 .social {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 13px;
    right: 13px;
    z-index: 1
}

.media-grid8 .social li {
    opacity: 0;
    transform: translateY(3px);
    transition: all .5s ease 0s
}

.media-grid8:hover .social li {
    margin: 0 0 10px;
    opacity: 1;
    transform: translateY(0)
}

.media-grid8:hover .social li:nth-child(1) {
    transition-delay: .1s
}

.media-grid8:hover .social li:nth-child(2) {
    transition-delay: .2s
}

.media-grid8:hover .social li:nth-child(3) {
    transition-delay: .4s
}

.media-grid8 .social li a {
    color: grey;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    border: 1px solid grey;
    display: block;
    transition: all .5s ease-in-out
}

.media-grid8 .social li a:hover {
    color: #000;
    border-color: #000
}

.media-grid8 .media-discount-label {
    display: block;
    padding: 4px 15px 4px 30px;
    color: #fff;
    background-color: #0081c2;
    position: absolute;
    top: 10px;
    right: 0;
    -webkit-clip-path: polygon(34% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(34% 0, 100% 0, 100% 100%, 0 100%)
}

.media-grid8 .media-content {
    padding: 20px 0 0
}

.media-grid8 .price {
    color: #000;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 8px;
    text-align: left;
    transition: all .3s
}

.media-grid8 .price span {
    color: #999;
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 7px;
    display: inline-block
}

.media-grid8 .media-shipping {
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    padding-left: 35px;
    margin: 0 0 15px;
    display: block;
    position: relative
}

.media-grid8 .media-shipping:before {
    content: '';
    height: 1px;
    width: 25px;
    background-color: rgba(0, 0, 0, .5);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0
}

.media-grid8 .title {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 30px;
    transition: all .3s ease 0s
}

.media-grid8 .title a {
    color: #000
}

.media-grid8 .title a:hover {
    color: #0081c2
}

.media-grid8 .all-deals {
    display: block;
    color: #fff;
    background-color: #2e353b;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 22px 5px;
    transition: all .5s ease 0s
}

.media-grid8 .all-deals .icon {
    margin-left: 7px
}

.media-grid8 .all-deals:hover {
    background-color: #0081c2
}

@media only screen and (max-width:990px) {
    .media-grid8 {
        margin-bottom: 30px
    }
}


.media-grid9,
.media-grid9 .media-image9 {
    position: relative
}

.media-grid9 {
    font-family: Poppins, sans-serif;
    z-index: 1
}

.media-grid9 .media-image9 a {
    display: block
}

.media-grid9 .media-image9 img {
    width: 100%;
    height: auto
}

.media-grid9 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.media-grid9:hover .pic-1 {
    opacity: 0
}

.media-grid9 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.media-grid9:hover .pic-2 {
    opacity: 1
}

.media-grid9 .media-full-view {
    color: #505050;
    background-color: #fff;
    font-size: 16px;
    height: 45px;
    width: 45px;
    padding: 18px;
    border-radius: 100px 0 0;
    display: block;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all .3s ease 0s
}

.media-grid9 .media-full-view:hover {
    color: #c0392b
}

.media-grid9:hover .media-full-view {
    opacity: 1
}

.media-grid9 .media-content {
    padding: 12px 12px 0;
    overflow: hidden;
    position: relative
}

.media-content .rating {
    padding: 0;
    margin: 0 0 7px;
    list-style: none
}

.media-grid9 .rating li {
    font-size: 12px;
    color: #ffd200;
    transition: all .3s ease 0s
}

.media-grid9 .rating li.disable {
    color: rgba(0, 0, 0, .2)
}

.media-grid9 .title {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 3px;
    transition: all .3s ease 0s
}

.media-grid9 .title a {
    color: rgba(0, 0, 0, .5)
}

.media-grid9 .title a:hover {
    color: #c0392b
}

.media-grid9 .price {
    color: #000;
    font-size: 17px;
    margin: 0;
    display: block;
    transition: all .5s ease 0s
}

.media-grid9:hover .price {
    opacity: 0
}

.media-grid9 .add-to-cart {
    display: block;
    color: #c0392b;
    font-weight: 600;
    font-size: 14px;
    opacity: 0;
    position: absolute;
    left: 10px;
    bottom: -20px;
    transition: all .5s ease 0s
}

.media-grid9:hover .add-to-cart {
    opacity: 1;
    bottom: 0
}

@media only screen and (max-width:990px) {
    .media-grid9 {
        margin-bottom: 30px
    }
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}



.heading {
    font-weight: bold;
    font-size: 66px;
}

.sub-heading {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 8px 0 8px 0;
    margin-top: 20px;
    margin-bottom: 35px;
}

.pay-form-card {
    padding: 8%;
    padding-bottom: 30px;
    padding-top: 35px;
    margin-top: 60px;
    margin-bottom: 80px;
    background-color: #ffffff;
    border-radius: 0;
}

textarea[name="message"] {
    resize: none;
}

.pay-form-phone {
    height: 45px;
}

.pay-form-message {
    height: 120px;
}

input.input-box,
textarea.input-box {
    background-color: #E0E0E0;
    border: #616161;
    color: #000000;
    font-size: 15px;
    padding: 15px auto 15px auto !important;
    height: 50px !important;
}

input.input-box:focus,
textarea.input-box:focus {
    background-color: #212121;
    color: #ffffff;
}

.rm-border:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form .form-control::-webkit-input-placeholder {
    color: #9E9E9E;
}

::-moz-placeholder {
    color: #9E9E9E !important;
}

button.btn-black {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    height: 50px;
}

.loginbtn-clear {
    color: #000000 !important;
    text-align: center;
}

.loginbtn-clear:hover {
    color: #00000 !important;
    text-decoration: underline;
}

.footer-info {
    font-size: 12px;
    color: #BDBDBD;
    text-align: center;
}

.card-subpay {
    margin: auto;
    width: 600px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



@media(max-width:767px) {
    .card-subpay {
        width: 100%;
    }
}

@media(height:1366px) {
    .card-subpay {
        width: 90%;
        padding: 8vh;
    }
}

.card-subpay-input {
    border: brown;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    width: 100%;
    min-width: unset;
    background-color: white;
    margin: 0;
    height: 40px;
}

form .row-1 {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: rgba(221, 228, 236, 0.301);
    border-color: rgba(221, 228, 236, 0.459);
    margin: 2vh 0;
    overflow: hidden;
}

form .row-2 {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0 0.8rem;
}

form .row .row-2 {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0 0.8rem;
}

form .row .col-2,
.col-7,
.col-3 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 1vh;
}

form .row .col-2 {
    padding-right: 0;
}

.card-subpay-header {
    font-weight: bold;
    font-size: 0.9rem;
}

.card-subpay-inner {
    font-size: 0.7rem;
    color: gray;
}

.three .col-7 {
    padding-left: 0;
}

.text-muted {
    color: #99a0ac !important
}

.block,
.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.avatar {
    position: relative;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 500px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
    border-radius: inherit;
    width: 100%
}

.gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}


.gd-success {
    color: #fff;
    border: none;
    background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
}



.gd-info {
    color: #fff;
    border: none;
    background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
}


.gd-warning {
    color: #fff;
    border: none;
    background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}


@media (min-width:992px) {
    .page-container {
        max-width: 1140px;
        margin: 0 auto
    }

    .page-sidenav {
        display: block !important
    }
}


.list {
    padding-left: 0;
    padding-right: 0
}

.list-item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word
}





.list-row .list-item {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: .75rem .625rem
}

.list-row .list-item>* {
    padding-left: .625rem;
    padding-right: .625rem
}



.no-wrap {
    white-space: nowrap
}



.text-color {
    color: #5e676f
}



.text-gd {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent
}



.text-sm {
    font-size: .825rem
}

.h-1x {
    height: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}


.w-48 {
    width: 48px !important;
    height: 48px !important
}


a:link {

    text-decoration: none;
}


.modal-body .icons{
    margin: 15px 0px 20px 0px;
}

.modal-body .icons a{
    text-decoration: none;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}

.modal-body .icons a:nth-child(1){
    color: #1877F2;
    border-color: #B7D4FB;
}

.modal-body .icons a:nth-child(1):hover{
    background-color: #1877F2;
    color: #fff;
}

.modal-body .icons a:nth-child(2){
    color: #46C1F6;
    border-color: #b6e7fc;
}

.modal-body .icons a:nth-child(2):hover{
    background-color: #46C1F6;
    color: #fff;
}

.modal-body .icons a:nth-child(3){
    color: #e1306c;
    border-color: #f5bccf;
}

.modal-body .icons a:nth-child(3):hover{
    background-color: #e1306c;
    color: #fff;
}

.modal-body .icons a:nth-child(4){
    color: #25d366;
    border-color: #bef4d2;
}

.modal-body .icons a:nth-child(4):hover{
    background-color: #25d366;
    color: #fff;
}


.modal-body .icons a:nth-child(5){
    color: #0088cc;
    border-color: #b3e6ff;
}

.modal-body .icons a:nth-child(5):hover{
    background-color: #0088cc;
    color: #fff;
}

.modal-body .icons a:hover{
    border-color: transparent;
}

.modal-body .icons a span{
    transition: all 0.09s ease-in-out;
}

.modal-body .icons a:hover span{
    transform: scaleX(1.1);
}

.modal-body .field{
    margin: 15px 0px -5px 0px;
    height: 45px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 0 5px;
}

.modal-body .field.active{
    border-color: #7d2ae8;
}

.field span{
    width: 50px;
    font-size: 1.1rem;
}

.field.active span{
    color: #7d2ae8;
}

.field input{
    border: none;
    outline: none;
    font-size: 0.89rem;
    width: 100%;
    height: 100%;
}

.field button{
    padding: 5px 16px;
    color: #fff;
    background: #7d2ae8;
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: 500;
}

@media (max-width: 330px) {
    .modal-body .icons a{
        margin-right: 15px;
        width: 35px;
        height: 35px;
    }
}
